@font-face {
    font-family:'Comic Sans MS';
    src:url(BRLNSDB.TTF);
}
@media only all and (min-width:320px){
canvas{
width:320px;
height:480px;	
margin:auto;
position: absolute;
top: 0px;
left: 0px;
right:0px;
margin:auto;
background: transparent;

}
#images{
display:none;
}
.level {
position: absolute;
top: 3px;
left:0; 
right:0;
width:320px;
margin:auto;
text-align:center;
color: #01294d;
font-family: Comic Sans MS, sans-serif;
cursor: default;
font-size:18px;
}
.timer {
position: absolute;
top: 33px;
left:0; 
right:0;
width:110px;
margin:auto;
padding-left:247px;
color: #01294d;
font-family: Comic Sans MS, sans-serif;
cursor: default;
}
.score {
position: absolute;
top: 33px;
left: 0;/*30px*/
right:0;
margin:auto;
width:290px;
padding-left:8px;
color: #01294d;
font-family: Comic Sans MS, sans-serif;
cursor: default;
}

#rules {
position: absolute;
top: 0px;
left: 0px;
right:0px;
margin:auto;
width:320px;

display: none;
}
#rules p{
background-color:rgba(255,255,255,0.6);
margin-top:40px;
width:280px;
height:280px;
text-align:center;
color: #01294d;
padding-top:35px;
padding-right:20px;
padding-left:20px;
font-family: Comic Sans MS, sans-serif;
font-weight:bold;
font-size: 24px;
cursor: default;
}
#gameOver,#pause,#stop,#allCleared {
position: absolute;
background-color:rgba(0,0,0,0.6);
top: 0px;
left: 0px;
right:0px;
margin:auto;
width:320px;
height:480px;
display: none;
}	

#gameOver p, #allCleared p{
background-color:rgba(255,255,255,0.6);
margin-top:100px;
width:320px;
height:150px;
text-align:center;
color: #01294d;
padding-top:50px;

font-family: Comic Sans MS, sans-serif;
font-weight:bold;
font-size: 30px;
cursor: default;
}	
#gameOver p span, #allCleared p span{
font-size:20px;
}	
	
.leftButton {
display:inline-block;
margin-left:50px;
cursor: pointer;
}

.rightButton {
display:inline-block;
margin-left:12px;
cursor: pointer;
}

#pause p, #stop p{
background-color:rgba(255,255,255,0.6);
margin-top:100px;
width:320px;
height:150px;
text-align:center;
color: #01294d;
padding-top:50px;

font-family: Comic Sans MS, sans-serif;
font-weight:bold;
font-size: 24px;
cursor: default;
}
	
#sound{
position:absolute;
left:250px;
top:73px;
display:block;
cursor: pointer;
}

#loading {
position: absolute;
top: 100px;
left: 0px;
right:0px;
margin:auto;
width:320px;
height:480px;
color: #01294d;
/*background-color:white;#FF7F00*/
text-align:center;
font-family: Comic Sans MS, sans-serif;
font-weight:bold;
font-size: 30px;
cursor: default;
display:block;
}
}